<!-- information shown when the list is empty -->
{% if items.records.total_entries == 0 %}
    <div class="text-5xl my-8 text-red-700" aria-label="Your list is emtpy, there are no tasks">There are no tasks in your list.</div>
  {% endif %} 