{% liquid

  if context.current_user.id
    function user = 'queries/user/load', id: context.current_user.id
    
endif %}


{% if context.current_user.id %}


{% liquid
  graphql items = 'item/search'
%}

  
<div>
  <h1 class="text-5xl m-3">Welcome {% if user %} {{ user.name }} {% endif %} to Taskmaster 3000!<h1>
</div>

<!-- list of items -->
<ul class="bg-yellow-600 p-2 m-2 ">
  {% for item in items.records.results %}
    <li class="card w-300px m-2 p-2 flex content-center justify-between gap-5 bg-white shadow-md rounded-lg overflow-hidden group hover:scale-105">
      <form
        action="/item/completed"
        method="post"
        class="text-center">
        <label for="completed">Completed</label>
        <input
              type="checkbox"
              name="completed"
              id="completed"
              value="1"
              onchange="this.form.submit()"
              class="w-8 h-8"
              {% if item.completed == true %}checked{% endif %}
            />
        <input type="hidden" name="id" value="{{ item.id }}">
      </form>


      <div class="font-semibold text-l">Task tilte: </br> {{ item.title }}</div>
      <div class="">Task description: </br> {{ item.content }}</div>
      <div
        class="
        {% case item.priority %}
          {% when "1" %} text-green-500 font-bold
          {% when "2" %} text-yellow-500 font-bold
        {% else %}
          text-red-500 font-bold
        {% endcase %}">
        {% case item.priority %}
          {% when '1' %} Low
          {% when '2' %} Medium
        {% else %}
          High
        {% endcase %}
      </div>

      {% include 'task_delete' %}
   
    </li>
  {% endfor %}
</ul>

{% include 'empty_list' %}


<!-- form for adding new item -->

{%include 'add_form' %}

<!-- link to the About Me page -->
<a class="text-blue-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 hover:text-blue-400 " href="/about">About Me</a>


{% endif %}
