{% liquid
  graphql items = 'item/search'
%}

<h1>This is my to do list</h1>
<!-- list of items -->
<ul>
  {% for item in items.records.results %}
    <li>
      {{ item.title }}
      {{ item.content }}
      <div class="priority">{{ item.priority }}</div>
      <form action="/item/delete" method="post">
        <input
          type="hidden"
          name="id"
          value="{{ item.id }}">
        <button type="submit">Delete task</button>
      </form>
    </li>
  {% endfor %}
</ul>



<!-- information shown when the list is empty -->
{% if items.records.total_entries == 0 %}
  <div>There are no items in the list.</div>
{% endif %}

<!-- form for adding new item -->

<form action="/item/create" method="post">
  <!-- Add a text input field for the 'title' -->
  <label for="title">Title:</label>
  <input
  type="text"
    id="title"
    name="title"
    required>

  <!-- Add a text input field for 'content' -->
  <label for="content">Content:</label>
  <input
  type="text"
    id="content"
    name="content"
    required>

  <!-- Add a select input for 'priority' -->
  <label for="priority">Priority:</label>
  <select
    id="priority"
    name="priority"
    required>
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
  </select>

  <!-- Add a recipient email field if needed -->
  <input
    type="hidden"
    name="recipient"
    value="recipient-email-address@example.com">

  <button type="submit">Add item</button>
</form>

<!-- link to the About Me page -->
<a href="/about">About Me</a>