{% liquid
  graphql items = 'item/search'
%}

<h1 class="text-5xl">This is my to do list</h1>

<!-- list of items -->
<ul class="bg-blue-300">
  {% for item in items.records.results %}
    <li class="{{item.priority}} w-300px px-0.8 py-1 flex items-center justif-around">
      <div class="text-gray-700">{{ item.title }}</div>
      <div class="text-red-500">{{ item.content }}</div>
      <div>
        {% case item.priority %}
          {% when "1" %}
          Low
          {% when "2" %}
          Medium
        {% else %}
          High
        {% endcase %}
      </div>



      <form action="/item/delete" method="post">
        <input
          type="hidden"
          name="id"
          value="{{ item.id }}">
        <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit">Delete task</button>
      </form>
    </li>
  {% endfor %}
</ul>


<!-- information shown when the list is empty -->
{% if items.records.total_entries == 0 %}
  <div>There are no items in the list.</div>
{% endif %}

<!-- form for adding new item -->

<form action="/item/create" method="post">
  <!-- Add a text input field for the 'title' -->
  <label for="title">Title:</label>
  <input
  class="border-black"
    type="text"
    id="title"
    name="title"
    required>

  <!-- Add a text input field for 'content' -->
  <label for="content">Content:</label>
  <input
  class="border-black"
    type="text"
    id="content"
    name="content"
    required>

  <!-- Add a select input for 'priority' -->
  <label for="priority">Priority:</label>
  <select
    id="priority"
    name="priority"
    required>
    <option class="prioLow" value="1">Low</option>
    <option class="prioMed" value="2">Medium</option>
    <option class="prioHigh" value="3">High</option>
  </select>

  <!-- Add a recipient email field if needed -->
  <input
    type="hidden"
    name="recipient"
    value="recipient-email-address@example.com">

  <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit">Add task</button>
</form>

<!-- link to the About Me page -->
<a href="/about">About Me</a>