<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>TaskMaster3000</title>
      <link rel="stylesheet" href="{{ 'styles/output.css' | asset_url }}">
    </head>
    <body>
      <div>
        {% if context.current_user.id %}
          <div class="flex col justify-between items-center">
          <header>

            {% include 'header'%}
          
          </header>

          <a class="blue_button" aria-label="Click the log out button to leave Taskmaster3000" href="/logout">Log out</a>
        </div>
        {% else %}
        <h1 class="text-5xl mb-10"> Taskmaster 3000</h1>
        <p class="text-lg mb-10 font-bold"> To view the to do list or enter a task please log in or register. </p>
        <a class="blue_button" aria-label="Click the login button to log in to Taskmaster3000" href="/login">Log in</a> or <a aria-label="If not a user already click the register button for Taskmaster3000" class="blue_button"href="/register">Register</a>
      {% endif %}
      </div>
      {{ content_for_layout }}
    </body>
  </html>